<appSettings>
  <add key="MailServer" value="dev-smtp.moviesrl.com" />
  <add key="FacebookAppId" value="2048740358591137" />
  <add key="FacebookAppSecret" value="a1a5a202b0e9490b28e5f72cfc9eac9c" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>